/* a little more space above h1 element */
.mt-3 {
    margin-top: 8 !important;
  }

#spinner {
  display: none
}

.eda-col {
  float: middle;
  width: 50%;
  padding: 0%;
}

.eda-third-col {
  float: middle;
  width: 33.33%;
  padding: 0%;
}

.eda-solo-col {
  float: middle;
  width: 100%;
  padding: 0%;
}

.eda-image {
  width: 100%;
}