<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mushroom ID</title>


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- prevents favicon.ico error -->
  <link rel="icon" href="data:,">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mushrooms Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mushroom_facts">More About Mushrooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compare_models">Compare Machine Learning Models</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
          </ul>
        </div>
    </nav>

    
    <div class="container">
      <section class="row">
        <div class="col-md-12">
          <h1>Can I Eat this Mushroom?</h1>
        </div>
      </section>
      <section>
        <div class = "col-md-4">
          <p>Select mushroom traits:</p>
          
          <!-- ***********Complete form input fields -->
          <form id="feature_input">
            <div class="form-group">
              <label for="exampleFormControlInput1">Cap diameter (cm)</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
    
          <select class="custom-select select_choice" id="cap_shape">
            <option selected>Select cap shape</option>
            <option value="b">bell</option>
            <option value="c">conical</option>
            <option value="x">convex</option>
            <option value="f">flat</option>
            <option value="s">sunken</option>
            <option value="p">spherical</option>
            <option value="o">others</option>
          </select>
          
          </form>
          <button onclick="prediction()">Predict Edibility</button>
        

        </div>

        <div class="col-md-8">
          <img src="#" alt="">
          <p>image of parts of a mushroom?</p>
        </div>
      </section>
      

    <section class="row">
      <div class="col-md-12">
        <p id="predictions">results populate here</p>
      </div>
    </section>  
    </div>

    
    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/index.js"></script>

</body>
</html>